body {
    padding: 50px;
    background-color: #66ccff;
    font-family: sans-serif;
}

#root {
    justify-content: flex;
    display: grid;
	grid-template-columns: 15% 1fr 15%;
}
#root *{
    grid-column: 2 / 3;
}
.alignCenter {
    justify-content: left;
}